
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: "Poppins", sans-serif;
}
.container{
    background-color: #e4e2e2;
    height: 100vh;
    width: 100%;
    
}
.container .navbar{
    background-color:#e3e3e3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 12vh;
    margin: auto;
    padding: .5rem;

}
.logo{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1rem;
   
}
.navlist{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.4rem;
    text-decoration: none;
}
.navlist a{
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 1rem;
}
.navlist li{
    text-decoration: none;
    list-style: none;
}
.hero{ 
    background-color:#e3e3e3;
    display: flex;
    height: calc(100vh-12vh);
    align-items: center;
    margin: 1rem 2rem;
}
.hero .cards{
   display: flex;
   gap: 4rem;
   background-color:#e3e3e3; 
   flex: 2;
   align-items: center;
}
.hero .content{
    flex: 1;
    margin-top: 6rem;
}
button{
    background-color: black;
    color: #e4e2e2;
    font-size: 1rem;
    padding: .5rem;
    border: none;
    border-radius: .2rem;
    transition: .2s ease-in-out;
}
button:hover{
    background-color: brown;
    cursor: pointer;
}
.cards .card{
   width: 100%;
   height: 23rem ;
   

}
.content h1{
   color:black ;
   line-height: 3rem;
   font-size: 2.4rem;
   text-transform: capitalize;
   margin-top: 5rem;
}
.content p{
   color:black ;
   line-height: 1.8rem;
   font-size: 1rem;
   text-transform: capitalize;
   max-width: 85%;
   margin:1rem 0 ;
}
.card:nth-child(1){
   margin-top: 6rem; 
   background-image: url(/Img/Dining\ Room.jpg);
}
.card:nth-child(2){
 background-image: url(/Img/Blue\ Couch.jpg);  
}
.card:nth-child(3){
   margin-bottom: 6rem; 
   background-image: url(/Img/Living\ Room.jpg);
}
.card{
    background-size: cover;
    background-position: center;
}
.container img{
    height: 16rem;
    position: absolute;
    top: 0;
    left:60px ;
    
}